
<launch>
  
  <include file="$(find launchers)/launch/velodyne_home.launch" />
  <include file="$(find xsens_driver)/launch/xsens_driver.launch" />
  <!--<include file="$(find pointgrey_camera_driver)/launch/right_mapping.launch" /> -->
  <!--<include file="$(find pointgrey_camera_driver)/launch/left_mapping.launch" /> -->

  <node name="dynamic_reconfigure_load_left" pkg="dynamic_reconfigure" type="dynparam"
	args="load /mapping/left/camera_nodelet $(find launchers)/config/mapping_cams_conf.yaml" />

  <node name="dynamic_reconfigure_load_right" pkg="dynamic_reconfigure" type="dynparam"
	args="load /mapping/right/camera_nodelet $(find launchers)/config/mapping_cams_conf.yaml" />

</launch>
