<launch>

  <param name="/use_sim_time" value="false"/>
  <arg name="outdir" default="/home/frc-uav/data"/>
  <arg name="prefix" default="data" />
  <node pkg="rosbag" type="record" name="data_logger" output="screen"
	args=" -o $(arg outdir)/$(arg prefix)_mapping_velodyne_imu --split --size=2000

/mapping/right/image_raw
/mapping/right/camera_info
  
/mapping/left/image_raw
/mapping/left/camera_info

/velodyne_packets
/velodyne_points

/xsens/imu/data

/dji_sdk/acceleration_ground_fused
/dji_sdk/angular_velocity_fused
/dji_sdk/attitude
/dji_sdk/battery_state
/dji_sdk/flight_status
/dji_sdk/gps_health
/dji_sdk/gps_position
/dji_sdk/imu
/dji_sdk/local_position
/dji_sdk/local_frame_ref
/dji_sdk/rtk_info_position
/dji_sdk/rtk_info_yaw
/dji_sdk/rtk_position
/dji_sdk/rtk_velocity
/dji_sdk/rtk_yaw
/dji_sdk/velocity
/dji_sdk/vo_position
"
	/>
  
    
</launch>
