<launch>

  <param name="/use_sim_time" value="false"/>
  <arg name="outdir" default="/home/frc-uav/data"/>
  <arg name="prefix" default="data" />
  <node pkg="rosbag" type="record" name="data_logger" output="screen"
	args=" -o $(arg outdir)/$(arg prefix)_mapping_velodyne_imu --split --size=2000 --buffsize=0

/mapping/right/image_raw
/mapping/right/camera_info
  
/mapping/left/image_raw
/mapping/left/camera_info

/velodyne_packets
/velodyne_points

/xsens/imu/data
"
/>
  
    
</launch>
